@font-face {
    font-family: 'ProximaNovaBoldFont';
    src: url('./../assets/fonts/proxima-bold/ProximaNovaBoldFont.eot');
    src: url('./../assets/fonts/proxima-bold/ProximaNovaBoldFont.eot?#iefix') format('embedded-opentype'),
         url('./../assets/fonts/proxima-bold/ProximaNovaBoldFont.woff') format('woff'),
         url('./../assets/fonts/proxima-bold/ProximaNovaBoldFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }