@font-face {
    font-family: 'ProximaNovalightFont';
    src: url('./../assets/fonts/proxima-bold/ProximaNovaLightFont.eot');
    src: url('./../assets/fonts/proxima-bold/ProximaNovaLightFont.eot?#iefix') format('embedded-opentype'),
         url('./../assets/fonts/proxima-bold/ProximaNovaLightFont.woff') format('woff'),
         url('./../assets/fonts/proxima-bold/ProximaNovaLightFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }