@font-face {
    font-family: 'ProximaNovaRegularFont';
    src: url('./../assets/fonts/proxima-regular/ProximaNovaRegularFont.eot');
    src: url('./../assets/fonts/proxima-regular/ProximaNovaRegularFont.eot?#iefix') format('embedded-opentype'),
         url('./../assets/fonts/proxima-regular/ProximaNovaRegularFont.woff') format('woff'),
         url('./../assets/fonts/proxima-regular/ProximaNovaRegularFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }