html {
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  font-family: "ProximaNovaRegularFont"; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ProximaNovaBoldFont"; }

.text-center {
  text-align: center; }

.text-white {
  color: #fff; }

#app {
  padding: 3em; }

.iphone-wrap {
  margin: auto;
  width: 23em;
  height: 46em;
  position: relative; }

.iphone-mask {
  background: url(c1032f032388a3a53de6cc8c3aabebb5.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  z-index: 9;
  pointer-events: none; }

.page-container {
  padding: 1.5em;
  height: 43em; }
  .page-container .title-page {
    border-bottom: solid 2px #eee;
    margin-top: 2.2em; }
  .page-container .title {
    font-size: 1.1em;
    padding: 3% 3%;
    color: #2f2f2f;
    min-height: 2.7em;
    display: table;
    width: 94%; }
    .page-container .title span {
      vertical-align: middle;
      display: table-cell; }

nav .nav-item {
  height: 2em;
  display: inline-block;
  padding: 0.5em 1em; }

nav a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 0.9em; }
  nav a.back:before {
    content: "<";
    font-family: "ProximaNovaBoldFont";
    font-size: 1.5em;
    vertical-align: middle; }

section.food-detail {
  height: 36em;
  overflow-y: scroll;
  padding-bottom: 2em; }

section .recipe-img {
  width: 100%; }

section article {
  padding: 0 1em; }

@font-face {
  font-family: 'ProximaNovaBoldFont';
  src: url(./fonts/ProximaNovaBoldFont.eot);
  src: url(./fonts/ProximaNovaBoldFont.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNovaBoldFont.woff) format("woff"), url(./fonts/ProximaNovaBoldFont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaRegularFont';
  src: url(./fonts/ProximaNovaRegularFont.eot);
  src: url(./fonts/ProximaNovaRegularFont.eot?#iefix) format("embedded-opentype"), url(./fonts/ProximaNovaRegularFont.woff) format("woff"), url(./fonts/ProximaNovaRegularFont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.photo-component .food {
  position: relative;
  color: #10c64e; }
  .photo-component .food .image {
    width: 100%; }
  .photo-component .food .controls {
    text-align: center; }
  .photo-component .food .button {
    width: 3em;
    cursor: pointer;
    padding: 0.5em; }

.bar-chart-container {
  width: 50%;
  height: 5.3em;
  position: relative;
  display: inline-block; }
  .bar-chart-container .bar-container {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .bar-chart-container .bar-container > img {
      width: 100%; }
    .bar-chart-container .bar-container .amount {
      position: absolute;
      z-index: 9999;
      bottom: 1em;
      width: 100%; }
    .bar-chart-container .bar-container .bar {
      transition: height 1s;
      -webkit-transition: height 1s;
      -moz-transition: height 1s;
      -ms-transition: height 1s;
      -o-transition: height 1s; }

.bar-wrapper {
  overflow: hidden;
  background: #444; }
  .bar-wrapper .sub-title {
    margin: 0.6em 0 1.4em; }
