.photo-component {
    .food {
        width: 40vw;
        position: relative;
        color: #10c64e;

        .image {
            width: 100%;
        }

        .title {
            font-size: 30px;
            padding: 10px;
        }

        .controls {
            background-color: rgba(0, 0, 0, .7);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }

        .button {
            margin: 10px;
        }
    }
}