.photo-component {

    .food {
        position: relative;
        color: #10c64e;

        .image {
            width: 100%;
        }

        .title {
            font-size: 1.1em;
            padding: 3% 3%;
            color: #2f2f2f;
            min-height: 2.7em;
            display: table;
            width: 94%;

            span {
                vertical-align: middle;
                display: table-cell;
            }
            
        }

        .controls {
            text-align: center;
        }

        .button {
            width: 3em;
            cursor: pointer;
            padding: 0.5em;
        }
    }
}