.photo-component {

    .food {
        position: relative;
        color: #10c64e;

        .image {
            width: 100%;
        }

        .controls {
            text-align: center;
        }

        .button {
            width: 3em;
            cursor: pointer;
            padding: 0.5em;
        }
    }
}