#app{
    padding: 3em;
}

.iphone {
    &-wrap {
        margin: auto;
        width: 23em;
        height: 46em;
        position: relative;
    }
    &-mask {
        background: url("../assets/img/iphone-x-case.png");
        width: 100%;
        height: 100%;
        background-size: contain;
        position: absolute;
        z-index: 9;
        pointer-events: none;
    }
}

.page-container {
    padding: 1.5em;
    height: 43em;

    .title-page {
        border-bottom: solid 2px #eee;
        margin-top: 2.2em;
    }

    .title {
        font-size: 1.1em;
        padding: 3% 3%;
        color: #2f2f2f;
        min-height: 2.7em;
        display: table;
        width: 94%;

        span {
            vertical-align: middle;
            display: table-cell;
        }
        
    }

}

nav {

    .nav-item {
        height: 2em;
        display: inline-block;
        padding: 0.5em 1em;
    }
    a {
        text-decoration: none;
        color: #2f2f2f;
        font-size: 0.9em;

        &.back:before {
            content: "<";
            font-family: "ProximaNovaBoldFont";
            font-size: 1.5em;
            vertical-align: middle;
        }

    }
}